body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 700px;
  background: #fff;
  margin: 16px auto;
  padding: 20px;
}

.title {
  background: #e3f4ff;
  margin: 10px ;
  padding: 20px;
  
}

.content {
  background: #e3f4ff;
  margin:10px;
  padding: 20px;
  font-size: 25px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  text-align: center;
  padding: 50px;
  font-size: 25px;

}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 25px;
  display: block;
  margin-left: 215px;
}